anyio==3.3.4
appdirs==1.4.4
asgiref==3.4.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.3
distlib==0.3.1
fastapi==0.70.0
filelock==3.0.12
h11==0.12.0
idna==2.10
pep8==1.7.1
pydantic==1.8.2
pyflakes==2.3.1
requests==2.25.1
six==1.15.0
sniffio==1.2.0
soupsieve==2.2.1
starlette==0.16.0
typing_extensions==4.0.0
urllib3==1.26.4
uvicorn==0.15.0
virtualenv==20.4.3
